<div class="row justify-content-center my-0 mr-0">
    <div class="col-4 p-0 m-0">
        <a class="w-100 h-100 btn btn-info p-4 rounded-0 font-weight-bold" href="/addNews" style="font-size: 2rem;">NewsForm</a>
    </div>
    <div class="col-4  p-0 m-0">
        <a class="w-100 h-100 btn btn-info p-4 rounded-0 font-weight-bold" href="/editNews"  style="font-size: 2rem;">Edit news</a>
    </div>
    <div class="col-4  p-0 m-0">
        <a class="w-100 h-100 btn btn-info p-4 rounded-0 font-weight-bold"  style="font-size: 2rem;" id="logout">Logout</a>
    </div>
</div>
