<nav class="navbar  navbar-dark bg-primary navbar-expand-sm">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link">@copyright</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-dark">contact on: 1111111111</a>
            </li>
            <li class="nav-item active" id="messageboxhandle1">
                <a class="nav-link text-white font-weight-bold" >Open chat</a>
            </li>
        </ul>
    </div>
</nav>
