<div class="row justify-content-center my-0 mr-0">
    <div class="col-3 p-0 m-0">
        <a class="w-100 h-100 btn btn-primary p-4 rounded-0 font-weight-bold" href="/" style="font-size: 2rem;">Home</a>
    </div>
    <div class="col-3  p-0 m-0">
        <a class="w-100 h-100 btn btn-primary p-4 rounded-0 font-weight-bold" href="/sports"  style="font-size: 2rem;">Sports</a>
    </div><div class="col-3  p-0 m-0">
        <a class="w-100 h-100 btn btn-primary p-4 rounded-0 font-weight-bold" href="/aboutus"  style="font-size: 2rem;">About us</a>
    </div><div class="col-3  p-0 m-0">
        <a class="w-100 h-100 btn btn-primary p-4 rounded-0 font-weight-bold" href="/contactus"  style="font-size: 2rem;">Contact us</a>
    </div>
</div>
