<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>login/ Register</title>
    <style>
        p{
            opacity: 0.85;
            font-size: 1.25rem;
        }
        p:hover{
            cursor: pointer;
            opacity: 1;
        }
    </style>
</head>

<body>
<h1 class="p-5 bg-info text-white text-center mb-0">Login/ Register</h1>
<p class="text-white text-center ml-auto bg-danger my-0 w-25 rounded-left" id="p1"><%= error %></p>
<p class="text-white text-center ml-auto bg-success my-0 w-25 rounded-left" id="p2"><%= msg %></p>
<div class="row justify-content-center text-center my-5 mx-0">
    <div class="col-6">
        <form action="http://localhost:3000/login" method="POST">
            <div class="row justify-content-center text-left my-3 mx-0">
                <div class="col-md-6 col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="name-prepend"><i class="fa fa-users" aria-hidden="true"></i></span>
                        </div>
                        <input type="email" class="form-control" id="username" placeholder="email" name="email" required>
                        <div class="invalid-tooltip">
                            Please choose a valid email.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center text-left my-3 mx-0">
                <div class="col-md-6 col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="pass-prepend"><i class="fa fa-key" aria-hidden="true"></i></span>
                        </div>
                        <input type="password" class="form-control" id="password" placeholder="password" name="password" required minlength="8">
                        <div class="invalid-tooltip">
                            Please choose a valid password.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center text-center my-5 mx-0">
                <button type="submit" class="btn btn-primary text-white mr-2">login</button>
                <button type="rest" class="btn btn-warning text-white">reset</button>
            </div>
        </form>
    </div>
    <div class="col-6">
        <form action="http://localhost:3000/register" method="POST">
            <div class="row justify-content-center text-left my-3 mx-0">
                <div class="col-md-6 col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="name-prepend1"><i class="fa fa-users" aria-hidden="true"></i></span>
                        </div>
                        <input type="text" class="form-control" id="username1" placeholder="name" name="username" required>
                        <div class="invalid-tooltip">
                            Please choose a valid name.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center text-left my-3 mx-0">
                <div class="col-md-6 col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="ename-prepend1"><i class="fa fa-users" aria-hidden="true"></i></span>
                        </div>
                        <input type="email" class="form-control" id="email" placeholder="email" name="email" required>
                        <div class="invalid-tooltip">
                            Please choose a valid email.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center text-left my-3 mx-0">
                <div class="col-md-6 col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="pass-prepend1"><i class="fa fa-key" aria-hidden="true"></i></span>
                        </div>
                        <input type="password" class="form-control" id="password1" placeholder="password" name="password" required minlength="8">
                        <div class="invalid-tooltip">
                            Please choose a valid password.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center text-center my-5 mx-0">
                <button type="submit" class="btn btn-primary text-white mr-2">register</button>
                <button type="rest" class="btn btn-warning text-white">reset</button>
            </div>
        </form>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    $(document).ready(() => {
        $('#p1').on('click', () => {
            $('#p1').hide();
        });
        $('#p2').on('click', () => {
            $('#p2').hide();
        });
    });
</script>
</body>

</html>
